<!DOCTYPE html>
<html>
  <head>
    <title>Mindset</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel='icon' href="<%= image_url('mindset-logo.svg') %>"/>
    <script type='text/javascript'>
      window.close = "<%=image_url('close-icon.png')%>";
      window.medPlay = "<%=image_url('med-play.png')%>";
      window.medPause = "<%=image_url('med-pause-button.png')%>";
      window.medButton = "<%=image_url('meditation-play-button.png')%>";
      window.logo = "<%=image_url('mindset-logo.svg')%>";
      window.logoText = "<%=image_url('mindsetLogo2.png')%>";
      window.mindsetBGUrl = "<%=image_url('headspace-login-bg.svg')%>";
      window.meditationBG = "<%=image_url('meditation-bg.png')%>";
      window.singleLogo1 = "<%=image_url('singleLogo1.png')%>";
      window.singleLogo2 = "<%=image_url('singleLogo2.png')%>";
      window.singleLogo3 = "<%=image_url('singleLogo3.png')%>";
      window.singleLogo4 = "<%=image_url('singleLogo4.png')%>";
      window.singleLogo5 = "<%=image_url('singleLogo5.png')%>";
      window.singleLogo6 = "<%=image_url('singleLogo6.png')%>";
      window.packThumb1 = "<%=image_url('packThumb1.png')%>";
      window.packThumb2 = "<%=image_url('packThumb2.png')%>";
      window.packThumb3 = "<%=image_url('packThumb3.png')%>";
      window.packThumb4 = "<%=image_url('packThumb4.png')%>";
      window.packThumb5 = "<%=image_url('packThumb5.png')%>";
      window.packThumb6 = "<%=image_url('packThumb6.png')%>";
      window.packThumb7 = "<%=image_url('packThumb7.png')%>";
      window.packThumb8 = "<%=image_url('packThumb8.png')%>";
      window.splashHead = "<%=image_url('headspace-rotate-face.svg')%>";
      window.headPath = "<%=image_url('head-path.svg')%>";
      window.financialStress = "<%=image_url('financial_stress.png')%>";
      window.sleepThumb = "<%=image_url('sleepThumb.png')%>";
      window.selfDiscipline = "<%=image_url('selfDiscipline.png')%>";
      window.negativity = "<%=image_url('negativity.png')%>";
      window.loneliness = "<%=image_url('loneliness.png')%>";
      window.fallingAsleep = "<%=image_url('fallingAsleep.png')%>";
      window.header1 = "<%=image_url('header1.svg')%>";
      window.anxietyPack = "<%=image_url('anxietyPack.png')%>";
      window.techniquesBodyScan = "<%=image_url('techniquesBodyScan.png')%>";
      window.techniquesNoting = "<%=image_url('techniquesNoting.png')%>";
      window.medListButton = "<%=image_url('med-list-button.png')%>";
      window.footerOpen = "<%=image_url('footer-open.png')%>";
      window.footerClose = "<%=image_url('footer-close.png')%>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
