<!DOCTYPE html>
<html>
  <head>
    <title>Mindset</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type='text/javascript'>
      window.mindsetBGUrl = "<%=image_url('headspace-login-bg.svg')%>";
      window.meditationBG = "<%=image_url('meditation-bg.png')%>";
    </script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
